.text
{
size: 12;
color: gray;
}
div-4
{
 
    background-image: url(/images/icon-cart.svg);

}
.attribution 
{ 
    font-size: 11px; text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%);
     }
body{
    background-color: antiquewhite;
}
.box
{
    background-color: white;
    height: 330px;
    width: 520px;
}
h3
{
    color: #005452;
}